{% extends "base.html" %} {% block extrahead %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
{% endblock %} {% block scripts %}
{{ super() }}
<script>
  docsearch({
    appId: 'RC2XAJAUNE',
    apiKey: '99faf69cae196db15d6916f2ed0116b9',
    indexName: 'gdevelop',
    container: '#docsearch',
  });
</script>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "17e0b68a38be4a9fa646000e9cdac982"}'></script>
<!-- End Cloudflare Web Analytics -->
{% endblock %}
